@{
    Layout = "_ConfigurePlugin";
}
@model Nop.Plugin.Widgets.Retargeting.Models.ConfigurationModel

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="WidgetsRetargeting" asp-action="Configure" method="post">
    <nop-tabs id="retargeting-configure">
        <nop-tab asp-name="tab-configuration" asp-title=" @T("Plugins.Widgets.Retargeting.Configuration")" asp-default="true">@await Html.PartialAsync("~/Plugins/Widgets.Retargeting/Views/_Configure.Configuration.cshtml", Model)</nop-tab>
        <nop-tab asp-name="tab-preconfigure" asp-title="@T("Plugins.Widgets.Retargeting.PreconfigureSystem")" class="advanced-setting">@await Html.PartialAsync("~/Plugins/Widgets.Retargeting/Views/_Configure.Preconfigure.cshtml", Model)</nop-tab>
    </nop-tabs>
</form>